{% extends "views/_base/base.html" %}

{% block introduction %}
	<h1>Code Class text shapes</h1>

	<p>Code Class about displaying text using CSS shapes.</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1</a></li>
		<li><a href="/exercise-2">Exercise 2</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTOMsPP_RGyEZRDamNeAjqsk5q8N5nlXYh5pNsaVxaqB2VedWsA6BV1hKwGPdDUjzqFcP9JjIOopSx5/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}
